/* .grid { */
/* 	border: 5px solid blue; */
/* 	min-height: 10px; */
/* 	color: red; */
/* } */

/* .grid>div { */
/* 	display: inline-block; */
/* 	height: 30px; */
/* 	width: 30px; */
/* 	border: 1px solid black; */
/* } */

/* .on { */
/* 	background: chartreuse; */
/* 	color: blue; */
/* } */

body {
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

button {
	border-radius: 25px;
	/*background: blue;*/
	color: white;
	height: 20px;
	width: 200px;
	margin-right: 10px;
	float: left;
	background: url(images.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.deco {
	float: right;
}

#fichier{
	height: 1000px;
	width: 600px;
}

.centre {
	margin-left: auto;
	marfin-right: auto;
	text-align: center;
}

label {
	display: block;
	float: left;
	width: 150px;
	text-align: left;
	margin-left: 15%;
}

.connex {
	margin-left : auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10%;
}

#connex2 {
	margin-left : auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40%;
}

.form-connex {
	margin: auto;
	border: 1px solid grey;
	background-color: white;
	width: 50%;
}

#enregistre {
	text-align: center;
}

#link-style {
	margin-top: 2%;
	border: none;
	color: #2A99E3;
	text-decoration: underline;
	background-image: url(bg.jpg);
}

#link-style:hover {
	cursor: pointer;
	font-weight: bold;
}